Name-Pritiparna Panigrahy
Branch-IT

List operation:

In [5]:
my_list = [10, 20, 30, 40]
print("Original List:", my_list)

Original List: [10, 20, 30, 40]

In [6]:
my_list.append(50)
print("After append:", my_list)

After append: [10, 20, 30, 40, 50]

In [7]:
my_list.insert(2, 25)
print("After insert at index 2:", my_list)

After insert at index 2: [10, 20, 25, 30, 40, 50]

In [8]:
my_list.remove(30)
print("After remove 30:", my_list)

After remove 30: [10, 20, 25, 40, 50]

In [9]:
print("First element:", my_list[0])

First element: 10

In [10]:
print("Slice (index 1 to 3):", my_list[1:4])

Slice (index 1 to 3): [20, 25, 40]

In [12]:
print("Index of 40:", my_list.index(40))

Index of 40: 3

In [13]:
my_list.sort()
print("Sorted list:", my_list)

Sorted list: [10, 20, 25, 40, 50]

In [14]:
my_list.reverse()
print("Reversed list:", my_list)

Reversed list: [50, 40, 25, 20, 10]

Tuple operation:

In [32]:

my_tuple = (5, 10, 15, 10)
print("\nTuple:", my_tuple)
print("Length of tuple:",len(my_tuple))
print("Element at index 2:", my_tuple[2])
print("Count of 10:", my_tuple.count(10))
print("Index of 15:", my_tuple.index(15))
print("my_tuple[1:3]",my_tuple[1:3])

Tuple: (5, 10, 15, 10)
Length of tuple: 4
Element at index 2: 15
Count of 10: 2
Index of 15: 2
my_tuple[1:3] (10, 15)

Set operations:

In [5]:

set_1 = {1, 2, 3, 2, 4}
print("Original Set:", set_1)

Original Set: {1, 2, 3, 4}

In [6]:
set_1.add(5)
print("After add(5):", set_1)

After add(5): {1, 2, 3, 4, 5}

In [7]:
set_1.remove(2)
print("After remove(2):", set_1)

After remove(2): {1, 3, 4, 5}

In [10]:
set_1.update([6,5])
print(set_1)

{1, 3, 4, 5, 6}

In [11]:
set_1.pop()

1

In [13]:
print(set_1)

{3, 4, 5, 6}

In [15]:
set_2= {1, 2, 6}
print("Union:", set_1.union(set_2))

Union: {1, 2, 3, 4, 5, 6}

In [16]:
print("Intersection:", set_1.intersection(set_2))

Intersection: {6}

In [18]:
print("difference:", set_1.difference(set_2))

difference: {3, 4, 5}

In [20]:
print("symmetric_difference:", set_1.symmetric_difference(set_2))

symmetric_difference: {1, 2, 3, 4, 5}

In [21]:
sub={3,4}
print(sub)

{3, 4}

In [25]:
print("sub.issubset(set_1):", sub.issubset(set_1))

sub.issubset(set_1): True

In [27]:
print("set_1.issubset(sub):", set_1.issuperset(sub))

set_1.issubset(sub): True

In [28]:
set_1.clear()
set_1

set()